form{
    height:auto;
}

#formulario{
    width:100%;
    height:auto;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #df4949;
    font-weight: bold;
    text-align: center;
    transition: 0.7s;
}

#formulario input[type="text"]{
    width:100%;
    height:auto;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #df4949;
    font-weight: bold;
    text-align: center;
    transition: 0.7s;
    
}

#formulario input[type="submit"]{
    width:100%;
    height:auto;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #df4949;
    font-weight: bold;
    text-align: center;
    transition: 0.7s;
}

#formulario input[type="submit"]:hover{
    width:100%;
    height:auto;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #df4949;
    font-weight: bold;
    text-align: center;
    transition: 0.7s;
}

#formulario input[type="submit"]:active{
    width:100%;
    height:auto;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #df4949;
    font-weight: bold;
    text-align: center;
    transition: 0.7s;
}