@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
section{
  clear:all;
  height: auto;
}

/** saludo inicial*/

.despliegue{
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #eaf5f8;
  opacity: 0.5;
  overflow: hidden;
  width: 0;
  height: 400px;
  transition: .5s ease;
}

section:hover .despliegue {
  width: 100%;
  left: 0;
}

.texto {
  text-align: center;
  white-space: nowrap; 
  color: rgb(57, 50, 50);
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  font-family: robota;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.iconos {
  text-align: center;
  white-space: nowrap; 
  color: rgb(57, 50, 50);
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  font-family: robota;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.info-izq{
  width: 45%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f2f2f2;
}
.info-der{
  width: 45%;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f2f2f2;
}