.card{
  background-color: #31363b;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;

}
.card-header{
  background-color: #31363b00;
}


.boton{
  border-radius: 5px;
  background-color: #ffffff;
  font-weight: bold;
}

li{
  list-style: none;
  margin-right: 10px;
}

.texto{
  margin-right: 25px;
  margin-bottom: 15px;
}

.caja{
  border-radius: 5px;
}