.card{
    background-color: #31363b;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  
  }
  
  .card-header{
    background-color: #31363b00;
  }

  .imagen{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 85%;
    border-radius: 25px;
  }

  p{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
  }
//button in the right top corner
  .botones{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn-danger{
    margin-left: 5px;
  }