<!--Agregar lista de imagenes del json-->
<div *ngIf="proyectos.length==1">
    No hay proyectos actualmente
</div>
<div *ngIf="proyectos.length>1">
    <a *ngFor="let proyecto of proyectos">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h3>{{proyecto.name}}</h3>
                </div>
                <div class="card-body">
                    <img class="imagen" src="{{proyecto.image}}" alt="{{proyecto.description}}">
                    <p>{{proyecto.description}}</p>
                </div>
            </div>
        </div>
    </a>
</div>