<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Sobre nosotros</h3>
                <p>
                    Somos Mauricio Castillo, Luis Herrera y Fabián Vergara, estudiantes de la Universidad Católica de Valparaíso, ingeniería civil informática.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Contacto</h3>
                <!--Google iconos-->
                <p><span class="material-symbols-outlined">mail</span>
                <a href="mailto:"><span>ecolife@mail.pucv.cl</span>
                </a></p>
                <p><span class="material-symbols-outlined">call</span>
                <a href="tel:"><span>+569 987654321</span>
                </a></p>
                <p><span class="material-symbols-outlined">map</span>
                <a href="https://www.google.com/maps/place/Edificio+Isabel+Brown+Caces+PUCV/@-33.0446426,-71.6136606,18.67z/data=!4m12!1m6!3m5!1s0x9662cfc8f9f8f8f9:0x9662cfc8f9f8f8f9!2sUniversidad+Cat%C3%B3lica+de+Valpara%C3%ADso!8m2!3d-33.04901!4d-71.631923!3m4!1s0x9689e0da0b53aa97:0x928c11c78e044b81!8m2!3d-33.0446465!4d-71.6124632">
                <span>Av. Brasil 2241, Valparaíso, Chile</span>
                </a></p>
            </div>
        </div>
    </div>
</footer>