<div class="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>¿Quiénes somos?</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ecolife:</h5>
                        <p class="card-text">
                            Somos una empresa dedicada a compartir nuestras ideas y proyectos con todos los que nos interesen.
                        </p>
                        <a [routerLink]="['/proyectos']" class="btn btn-primary">Ir a los proyectos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>¿Cómo aportar?</h3>
                    </div>
                <div class="card-body">
                    <h5 class="card-title">¡Crea tu cuenta!</h5>
                    <p class="card-text">
                        Puedes aportar tus proyectos a la página ingresando a tu cuenta, y apoyar otros proyectos a través de donaciones.
                    </p>
                    <a [routerLink]="['/cuenta']" class="btn btn-primary">Ir a Cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>